<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Insights: IT & Development Blog</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header>
        <h2>Tech Insights: IT & Development Blog</h2>
		<nav>
			<a href="{{ '/' | absolute_url }}">Home</a> |
			<a href="/dev.html">DEV</a> | 
			<a href="/db.html">DB</a> | 
			<a href="/infra.html">Infra</a> | 
			<a href="/news.html">IT News</a>
		</nav>
  </header>

	<main>
		<h2>😊 Welcome to My Tech Blog!</h2>
		<p>이곳에서는 주로 웹 프로그래밍, IT 기술, 개발 팁 등을 다룹니다.</p>
	</main>

    <footer>
        © 2025 Tech Insights | Powered by Graves85
    </footer>
</body>
</html>
